body, html {
  background-color: #e4dfb8;
  background-color: #FFF;
}

#header img {
  width: 200px;
}

#app-container {
  margin: 50px;
  color: #3e9c97;
}

/* for xlarge screens */
@media screen and (min-width: 1261px) {
  /* your css for xlarge screens goes here ... */
}
/* for large screens */
@media screen and (min-width: 961px) and (max-width: 1260px) {
  /* your css for large screens goes here ... */
}
/* for medium screens */
@media screen and (min-width: 641px) and (max-width: 960px) {
  /* your css for medium screens goes here ... */
}
/* for small screens */
@media screen and (min-width: 321px) and (max-width: 640px) {
  /* your css for small screens goes here ... */
}
/* for tiny screens */
@media screen and (max-width: 320px) {
  /* your css for tiny screens goes here ... */
}
